<div class="header feed">
      <div class="header-logo">
        <img title="logo" class="header-img profilepic" src="static/img/profilepic.jpg">
        <a href="#top">
          <img title="logo" class="header-img logo" src="{{ url_for('static', filename='logo.png') }}">
        </a>
        <div class="header-subscribe">Subscribe</div>
      </div>
      <div>
        <div class="header-flex">
          <a href="#top">
            <div class="header-item header-selected">
              <div class="header-selected-text">For you</div>
              <div class="header-selected-bottom"></div>
            </div>
          </a>
          <div class="header-item">Following</div>
          <div class="header-plus">+</div>
        </div>
      </div>
    </div>