<div class="mock-container">
      <div class="mock-sidemenu">
        <a>
          <div class="sidemenu-item">
            <img title="logo" class="header-img sidemenu-logo" src="{{ url_for('static', filename='logo.png') }}">
          </div>
        </a>
          {% for nav in navigation %}
          <a href="{{nav.href}}">
            <div class="sidemenu-item {%if nav.active %} nav-active {%endif%}">
                {% include nav.icon %}
                <div>{{nav.name}}</div>
              </div>
            </a>
          {% endfor %}
        <a href="">
        <div class="sidemenu-item post-btn-w">
          <span class="post-btn">
            {% include "icons/post.html" %}
            <div>Post</div>
          </span>
        </div>
        <a>
      </div>
    </div>